<div id="showcase">
    <partial name="~/Views/Shared/Sections/_ShowcasePartial.cshtml" />
</div>
<div id="features">
    <partial name="~/Views/Shared/Sections/_FeaturesPartial.cshtml" />
</div>
<div id="darklight">
    <partial name="~/Views/Shared/Sections/_DarklightPartial.cshtml" />
</div>
<div id="app">
    <partial name="~/Views/Shared/Sections/_AppPartial.cshtml" />
</div>
<div id="tools">
    <partial name="~/Views/Shared/Sections/_ToolsPartial.cshtml" />
</div>