<section class="courses">
    <div class="container">
        <div class="tool-courses">
            <div class="boxes">
                <img src="images/courses1.svg" alt="#">
                <h4>Fullstack Web Developer Course from Scratch</h4>
                <p>By Robert Fox</p>
                <p class="money">$12.50</p>
                <p><i class="fa-regular fa-clock"></i> 220 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 94% (4.2K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses2.svg" alt="#">
                <h4>HTML, CSS, JavaScript Web Developer</h4>
                <p>By Jenny Wilson & Marvin McKinney</p>
                <p class="money">$15.99</p>
                <p><i class="fa-regular fa-clock"></i> 160 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 92% (3.1K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses3.svg" alt="#">
                <h4>The Complete Front-End Web Development Course</h4>
                <p>By Albert Flores</p>
                <p class="money">$9.99</p>
                <p><i class="fa-regular fa-clock"></i> 100 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 98% (2.7K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses4.svg" alt="#">
                <h4>iOS & Swift - The Complete iOS App Development Course</h4>
                <p>By Marvin McKinney</p>
                <p class="money">$15.99</p>
                <p><i class="fa-regular fa-clock"></i> 160 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 92% (3.1K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses5.svg" alt="#">
                <h4>Data Science & Machine Learning with Python</h4>
                <p>By Esther Howard</p>
                <p class="money">$11.20</p>
                <p><i class="fa-regular fa-clock"></i> 160 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 92% (3.1K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses6.svg" alt="#">
                <h4>Creative CSS Drawing Course: Make Art With CSS</h4>
                <p>By Robert Fox</p>
                <p class="money">$10.50</p>
                <p><i class="fa-regular fa-clock"></i> 220 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i>94% (4.2K) </p>
            </div>
            <div class="boxes">
                <img src="images/courses7.svg" alt="#">
                <h4>Blender Character Creator v2.0 for Video Games Design</h4>
                <p>By Ralph Edwards</p>
                <p class="money">$18.99</p>
                <p><i class="fa-regular fa-clock"></i> 160 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i>92% (3.1K) </p>
            </div>
            <div class="boxes">
                <img src="images/courses8.svg" alt="#">
                <h4>The Ultimate Guide to 2D Mobile Game Development with Unity</h4>
                <p>By Albert Flores</p>
                <p class="money">$12.99</p>
                <p><i class="fa-regular fa-clock"></i> 100 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 98% (2.7K)</p>
            </div>
            <div class="boxes">
                <img src="images/courses9.svg" alt="#">
                <h4>Learn JMETER from Scratch on Live Apps-Performance Testing</h4>
                <p>By Jenny Wilson</p>
                <p class="money">$14.50</p>
                <p><i class="fa-regular fa-clock"></i> 160 hours <i class="thumb" class="fa-regular fa-thumbs-up"></i> 92% (3.1K) </p>
            </div>
        </div>
    </div>
</section>

