<section class="darklight">
    <div class="container">
        <div class="content">
            <h1>Switch Between</h1>
            <h1 class="dark">Light & Dark Mode</h1>
        </div>
        <img src="images/darklight.svg" alt="">
    </div>
</section>