<div class="container">
    <a class="logo" asp-action="Index" asp-controller="Home"><img src="images/silicon-logo.svg" alt=""></a>
    <div class="menu">
        <nav>
            <a class="menu-link" asp-action="Index" asp-controller="Home" asp-fragment="showcase">Showcase</a>
            <a class="menu-link" asp-action="Index" asp-controller="Home" asp-fragment="features">Features</a>
            <a class="menu-link" asp-action="Index" asp-controller="Contact">Contact</a>
        </nav>
    </div>
    <div class="btn-switch">
        <label>Light</label>
        <label class="Switch" for="switch-mode">
            <input type="checkbox" class="switch-mode" />
            <span class="slider round"></span>
        </label>
        <label>Dark</label>
    </div>
    <div class="account-buttons">
        <a class="btn-gray" asp-action="Index" asp-controller="Signin"><i class="fa-solid fa-right-to-bracket"></i><span>Sign in</span></a>
        <a class="btn-theme" asp-action="Index" asp-controller="Signup"><i class="fa-solid fa-user"></i><span>Sign up</span></a>
    </div>
</div>