<section class="level">
    <div class="container">
        <div class="content">
            <p>Ready to get started?</p>
            <h3>Take Your <strong>Skills</strong> to the <br> Next Level</h3>
            <a class="btn-theme-s" href="#">Worl with us</a>
        </div>
        <img src="images/levelpic.svg" alt="#">
    </div>
</section>