<section class="overview">
    <div class="container">
        <img src="images/overview.svg" alt="">
        <div class="content-1">
            <h1>Manage Your Work</h1>
            <p><i class="fa-regular fa-circle-check"></i>Powerful project management</p>
            <p><i class="fa-regular fa-circle-check"></i>Transparent work management</p>
            <p><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</p>
            <p><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</p>
            <p><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</p>
            <a class="btn-theme" href="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
