<section class="showcase-contact">
    <div class="container">
        <div class="nav">
            <a href="Home.html"><i class="fa-solid fa-house-user"></i> Home</a>
            <i class="fa-solid fa-angles-right"></i>
            <a href="Contact.html">courses</a>
        </div>
        <div class="courses-content">
            <h1>Courses</h1>
            <div class="search-boxes">
                <input type="text" placeholder="All categories">
                <input class="input1" type="search" placeholder="Search Courses">
            </div>
        </div>
    </div>
</section>