<section class="tools">
    <div class="container">
        <h1>Integrate Top Work Tools</h1>
        <p class="pragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="tool-content">
            <div class="tool-box">
                <img src="images/toolspic1.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolspic2.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic3.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic4.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic5.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic6.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic7.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="images/toolpic8.svg" alt="#">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>

        </div>
    </div>
</section>